nextflow.enable.dsl = 2
nextflowVersion = '>=22'
def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
trace {
    enabled = true
    overwrite = true
    file = "log/trace.${timestamp}.txt"
}
dag {
    enabled = true
    overwrite = true
    file = "log/dag.${timestamp}.png"
}
report {
    enabled = true
    overwrite = true
    file = "log/report_${timestamp}.html"
}
timeline {
  overwrite = true
  enabled = true
  file = "log/timeline_${timestamp}.html"
}

env {
    PYTHONNOUSERSITE = 1
}

plugins {
  id 'nf-prov'
}

prov {
  formats {
    bco {
      file = "log/bco_${timestamp}.json"
      overwrite = true
    }
    legacy {
      file = "log/manifest_${timestamp}.json"
      overwrite = true
    }
  }
}


// test profile name needs to change to AWS.
// Add reference files to s3 buckets as we test on ec2 instance

profiles {

    Run_upto_quants {
        params {
            includeConfig 'config/docker.config'
            config_profile_description = 'This profile runs Cutadapt,Fastqc,Star,RSEM and Multiqc'
            max_memory = '20.GB'
            max_cpus = '3'
            max_time = '4h'
        }
        includeConfig 'config/Run_upto_quants_references.config'
        includeConfig 'config/docker.config'
        includeConfig 'config/biowulf_singularity.config'
        includeConfig 'config/Run_upto_quants_cluster.config'
    }


    biowulf_test_s3_slurm {
        aws.batch.maxParallelTransfers = 10
        aws.client.maxConnections = 10
        params {
            includeConfig 'config/docker.config'
            config_profile_description = 'BIOWULF s3 on SLURM'
            config_profile_contact = 'kopardevn@nih.gov'
            config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
	    max_memory = '20.GB'
            max_cpus = '3'
            max_time = '4h'
        }
	    includeConfig 'config/biowulf_s3_test_params.config'
        includeConfig 'config/docker.config'
        includeConfig 'config/biowulf_singularity.config'
        includeConfig 'config/biowulf_cluster_test.config'

        //this key is no longer active

    }


    aws_agc_test {
        aws.batch.maxParallelTransfers = 5
        env.SLURM_JOB_ID = ""

        docker {
            enabled = true
            envWhitelist = 'SLURM_JOB_ID'
        }

        includeConfig 'config/docker.config'
        includeConfig 'config/aws_params.config'
        includeConfig 'config/aws_cluster_test.config'
        def report_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

        report {
            enabled = true
            overwrite = true
            file = "s3://agc-424336837382-us-east-1/nfmvpout_vnk/reports/report_${report_timestamp}.html"
        }

        trace {
            enabled = true
            overwrite = true
            file = "s3://agc-424336837382-us-east-1/nfmvpout_vnk/reports/pipeline_trace.txt"
        }

        timeline {
            enabled = true
            overwrite = true
            file = "s3://agc-424336837382-us-east-1/nfmvpout_vnk/reports/timeline_${report_timestamp}.html"
        }

    }

    biowulf_test_run_local {

        params {
            config_profile_description = 'BIOWULF small test on LOCAL interactive node'
            config_profile_contact = 'kopardevn@nih.gov'
            // config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
            max_memory = '20.GB'
            max_cpus = '3'
            max_time = '3h'
        }
        includeConfig 'config/biowulf_small_test_params.config'
        includeConfig 'config/docker.config'
        includeConfig 'config/biowulf_singularity.config'


        process {
            executor = 'local'
            cache = 'deep'
        }
    }

    biowulf_test_run_slurm {
        params {
            config_profile_description = 'BIOWULF small test on SLURM'
            config_profile_contact = 'gangalapudiv2@nih.gov'
            config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
            max_memory = '20.GB'
            max_cpus = '3'
            max_time = '4h'
        }

        includeConfig 'config/biowulf_small_test_params.config'
        //includeConfig 'config/test_cluster.config'
        includeConfig 'config/docker.config'
        includeConfig 'config/biowulf_singularity.config'
        includeConfig 'config/biowulf_cluster_test.config'
	    //workDir = "$RESULTSDIR/work"
	    //resultsDir = "$RESULTSDIR"
    }

    biowulf_mouse_RNA_slurm {
        params {
            config_profile_description = 'BIOWULF small test on SLURM'
            config_profile_contact = 'gangalapudiv2@nih.gov'
            config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
            max_memory = '20.GB'
            max_cpus = '3'
            max_time = '4h'

        }

        includeConfig 'config/GRCm39.config'
        includeConfig 'config/docker.config'
        includeConfig 'config/biowulf_singularity.config'
        includeConfig 'config/biowulf_cluster_test.config'
    }
}
