params {
    Pipeline_version = "5.6.0"
    genome_version = "19"
    genome_version_tcellextrect = "hg19"
    genome_version_fusion_annotation = "v37lift37"
    publishDirMode = "link"
    star_genome_index = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/Index/index-STAR_2.7.9a/"
    bwa_genomeindex = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/Index/bwa_0.7.17/"
    gtf = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/gencode.v37lift37.annotation_ERCC92.gtf"
    gtf_sorted = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/gencode.v37lift37.annotation_ERCC92.sorted.gtf.gz"
    gtf_sorted_index = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/gencode.v37lift37.annotation_ERCC92.sorted.gtf.gz.tbi"
    transcript_gtf = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/gencode.v37lift37.transcript_ERCC92.gtf"
    ref_flat = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/ref_flat.txt.gz"
    rRNA_interval = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/rRNA_body.txt"
    rsem_index = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/Index/rsem_1.3.2/"
    fastq_screen_config = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/fastq_screen.conf"
    fastq_screen_db = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/fastq_screen_db/"
    kraken_bacteria = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/20170202_bacteria_kraken/"
    genome = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa"
    genome_fai = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa.fai"
    genome_dict = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/GRCh37.primary_assembly.genome_ERCC92_ksorted.dict"
    chrom_sizes = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/chrom.sizes"
    sorted_chr_order = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/sorted_chromosome_order.txt"
    genomelength = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/Index/index-STAR_2.7.9a/chrNameLength.txt"
    phase1_1000g = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/1000G_phase1.indels.hg19.vcf"
    dbsnp = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/dbsnp_138.b37.chr_added_sorted.vcf"
    Mills_and_1000g = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/Mills_and_1000G_gold_standard.indels.hg19.vcf"
    Sites1000g4genotyping = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/1000gSites4genotyping.v2.bed"
    fusioncatcher_db = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/fusioncatcher/human_v102/"
    starfusion_db = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/GRCh37_gencode_v19_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/"
    mixcr_license = "s3://ccr-genomics-testdata/Licenses/mi.license"
    access_hotspot = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/hg19_Hotspot.08.08.16_merged.bed"
    hg19_hotspot_pos = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/hg19_hotspot_pos.txt"
    Biowulf_snpEff_config = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/Biowulf_snpEff.config"
    dbNSFP2_4 = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/dbNSFP2.4.txt.gz"
    dbNSFP2_4_tbi = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/dbNSFP2.4.txt.gz.tbi"
    strelka_config = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/Biowulf_Strelka.config.ini"
    recode_vcf = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/Clinical_Research_Exome.recode.vcf"
    cosmic_v67_hg19_vcf = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/cosmic_v67.hg19.vcf"
    vep_cache = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/VEP_102_cache/"
    combined_gene_list = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/combinedList_05312018"
    somatic_actionable_sites = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/hg19_SomaticActionableSites.txt"
    gc50base = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/hg19.gc50Base.txt.gz"
    sequenza_Rscript = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/run_sequenza_pipeline.R"
    //Annotation
    pfamdb = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/PfamDB/"
    annovar_data = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/"
    cosmic = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_cosmic78.txt"
    clinseq = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_clinseq_951.txt"
    pcg = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_PCG_042616.txt"
    clinvar = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_clinvar_20160831.txt"
    hgmd = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_hgmd.2018.4.txt"
    matchTrial = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_MATCHTrial_2015_11.txt"
    mcg = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_MCG.06.24.15.txt"
    DoCM = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_DoCM.txt"
    CanDL = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_candl_10262015.txt"
    targetted_cancer_care = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_targated_cancer_care_10262015.txt"
    civic = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_civic_10262015.txt"
    ACMG = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_ACMG_v2.txt"
    hg19_BLsites = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_blacklistedSites.txt"
    hg19_WLsites = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/annotation/hg19_whitelistedSites.txt"
    conpair_refbed = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/verifyBamID/GRCh37.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.bed"
    conpair_marker = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/verifyBamID/GRCh37.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.txt"

    //Target bed
    access_target = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/IlluminaAccessKitRNASeq.target.hg19.merged.bed"
    polya_target = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/RefSeq.target.hg19.merged.bed"
    polya_stranded_target = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/RefSeq.target.hg19.merged.bed"
    ribozero_target = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/RefSeq.target.hg19.merged.bed"
    smartrna_target = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/RefSeq.target.hg19.merged.bed"
    clin_ex_v1 = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/Agilent_SureSelect_Clinical_Research_Exome.target.hg19.merged.bed"
    seqcapez.hu.ex.v3 = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/SeqCap_EZ_Exome_v3_capture_trimed.target.hg19.merged.bed"
    agilent.v7_target = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/Agilent_SureSelect_V7_S31285117.target.hg19.bed"
    idt_v2_plus = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/IDT_V2_PLUScnv.padded_100.sorted.merged.coveredregions.hg19_filtered_khanlab.bed"
    xgen_hyb_panelv2_target = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/xgen-exome-hyb-panel-v2-targets-hg19_khanlab.bed"
    seqcapez.rms.v1_target = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/Nimblegen_10_EZ_HX3_capture.target.hg19.merged.bed"
    comp_ex_v1_target = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/NextraExome_v1.targetbp.hg19.merged.bed"
    seqcapez.hu.ex.v3_target = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/SeqCap_EZ_Exome_v3_capture_trimed.target.hg19.merged.bed"
    seqcapez.hu.ex.utr.v1_target = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/SeqCap_EZ_Exome_UTR_v1_capture_trimed.target.hg19.merged.bed"
    hybrid_selection = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/xgen-exome-research-panel-v2-targets-hg38tohg19-khanlab.bed"

    // design bed
    clin_ex_v1_design = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/Agilent_SureSelect_Clinical_Research_Exome.design.hg19.merged.bed"
    agilent.v7_design = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/Agilent_SureSelect_V7_S31285117.design.hg19.bed"
    idt_v2_plus_design = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/IDT_V2_PLUScnv.padded_100.sorted.merged.coveredregions.hg19_filtered_khanlab_design.bed"
    xgen_hyb_panelv2_design = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/xgen-exome-hyb-panel-v2-targets-design_hg19_khanlab.bed"
    seqcapez.rms.v1_design = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/Nimblegen_10_EZ_HX3_capture.design.hg19.merged.bed"
    comp_ex_v1_design = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/NextraExome_v1.design.hg19.merged.bed"
    seqcapez.hu.ex.v3_design = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/SeqCap_EZ_Exome_v3_capture_trimed.design.hg19.merged.bed"
    seqcapez.hu.ex.utr.v1_design = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/SeqCap_EZ_Exome_UTR_v1_capture_trimed.design.hg19.merged.bed"
    hybrid_selection_design = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/xgen-exome-research-panel-v2-targets-design-hg38tohg19-khanlab.bed"

    //cnvkit_Ref
    cnvkit_clin_ex_v1 = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/cnvkit/clin.ex.v1.hg19.cnn"
    cnvkit_clin_snv_v1 = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/cnvkit/clin.snv.v1.hg19.cnn"
    cnvkit_clin_cnv_v2 = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/cnvkit/clin.cnv.v2.hg19.cnn"
    cnvkit_clin_snv_v2 = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/cnvkit/clin.snv.v2.hg19.cnn"
    cnvkit_seqcapez_rms_v1 = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/cnvkit/seqcapez.rms.v1.hg19.cnn"
    cnvkit_seqcapez_hu_ex_v3 = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/cnvkit/seqcapez.hu.ex.v3.hg19.cnn"
    cnvkit_agilent.v7 = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/cnvkit/cnvkit_agilent.v7_hg19.cnn"
    cnv_ref_access = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/cnvkit/access-5k-mappable.hg19.bed"
    reconcnv_data_dir = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/reconcnv/data/"
    reconcnv_config_file = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/reconcnv/data/config.json"

    //mutationBurden
    clin_ex_v1_MB = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/Agilent_SureSelect_Clinical_Research_Exome.targetbp.hg19.actualmerged.bed"
    agilent.v7_MB = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/Agilent_SureSelect_V7_S31285117.targetbp.hg19.actualmerged.bed"
    seqcapez.hu.ex.v3_MB = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/SeqCap_EZ_Exome_v3_capture_trimed.targetbp.hg19.actualmerged.bed"
    comp_ex_v1_MB = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/NextraExome_v1.targetbp.hg19.actualmerged.bed"
    seqcapez.hu.ex.utr.v1_MB = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/SeqCap_EZ_Exome_UTR_v1_capture_trimed.targetbp.hg19.actualmerged.bed"
    seqcapez.rms.v1_MB = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/Nimblegen_10_EZ_HX3_capture.targetbp.hg19.actualmerged.bed"
    idt_v2_plus_MB = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/IDT_V2_PLUScnv.padded_100.sorted.merged.coveredregions.hg19_filtered_khanlab.actualmerged.bed"
    hybrid_selection_MB = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/design/xgen-exome-research-panel-v2-targets-hg38tohg19-khanlab.targetbp.actualmerged.bed"

   //mantis
    clin_ex_v1_loci = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/mantis/Agilent_SureSelect_Clinical_Research_Exome.target.hg19.merged.loci.bed"
    agilent.v7_loci = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/mantis/Agilent_SureSelect_V7_S31285117.target.hg19.loci.bed"

    //cosmicsignatures
    cosmic_indel_rda = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/cosmic_signatures/signatures.indels.cosmic.v3.may2019.rda"
    cosmic_genome_rda = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/cosmic_signatures/signatures.genome.cosmic.v3.may2019.rda"
    cosmic_dbs_rda = "s3://oncogenomics-nextflow-workflow-references/GRCh37_hg19_v37/cosmic_signatures/signatures.dbs.cosmic.v3.may2019.rda"

    highconfidence_somatic_threshold {
        threshold_1 {
            Normal = "20"
            Tumor = "20"
            VAF   = "0.1"
        }
        threshold_2 {
            Normal = "20"
            Tumor = "50"
        VAF   = "0.05"
        }
        threshold_3 {
            Normal = "20"
            Tumor = "50"
            VAF   = "0.1"
        }
        threshold_4 {
            Normal = "5"
            Tumor = "5"
            VAF   = "0.1"
        }
        threshold_5 {
            Normal = "20"
            Tumor = "30"
            VAF   = "0.1"
        }
    }
    failed_exon {
        clin_ex_v1 {
            Tumor = "20"
            Normal = "10"
        }
        wholegenome {
            Tumor = "5"
            Normal = "5"
        }
        seqcapez_rms_v1 {
            Tumor = "100"
            Normal = "100"
        }
        comp_ex_v1 {
            Tumor = "30"
            Normal = "10"
        }
        clin_snv {
            Tumor = "50"
            Normal = "20"
        }
        xgen_hyb_panelv2 {
            Tumor = "20"
            Normal = "10"
        }
        seqcapez_hu_ex_v3 {
            Tumor = "20"
            Normal = "20"
        }
        agilent_v7 {
            Tumor = "20"
            Normal = "20"
        }
    }
}
