// def publishDirMode = 'move'

executor {

    $slurm {
        queue = 'norm'
        queueSize = 200
        pollInterval = '2 min'
        queueStatInterval = '5 min'
        submitRateLimit = '6/1min'
        retry.maxAttempts = 1
    }
}

process {
    executor = 'slurm'
    cache = 'lenient'
    clusterOptions = ' --gres=lscratch:400'
    scratch = '/lscratch/$SLURM_JOB_ID'
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    errorStrategy = { task.exitStatus in [140,143,137,104,134,139,1,255] ? 'retry' : 'finish' }
    maxRetries    = 2



    withName: 'Star.*|Rsem.*|BWA|Mutect|Manta|Strelka|Strelka_vcf_processing|Pvacseq|Optitype|HLA_HD' {
       cpus = '16'
       memory = { 100.GB * task.attempt }
       queue = 'norm'
       time = { 20.hour * task.attempt }
       clusterOptions = '--gres=lscratch:800'
   }


    withName: 'HSMetrics|Krona|Fusion_Annotation|Mantis_MSI|Kraken|PREPARE_SAMPLESHEET|Conpair.*|UnionSomaticCalls|Exome_QC|AddAnnotation.*|Combine_variants|VEP|Fastq_screen|TargetIntervals|VerifyBamID|Exome_HaplotypeCaller|CNVkitP.*|Sequenza.*' {
       cpus = '8'
       memory = { 75.GB * task.attempt }
       queue = 'norm'
       time = { 20.hour * task.attempt }
   }
    withName: 'Read_depth|Coverage|GATK.*|Genotyping|TcellExtrect.*|BAM_TO_FASTQ' {
       cpus = '4'
       memory = { 100.GB * task.attempt }
       queue = 'norm'
       time = { 12.hour * task.attempt }
   }
    withName: 'Fusioncatcher' {
       cpus = '10'
       memory = { 40.GB * task.attempt }
       queue = 'norm'
       time = { 20.hour * task.attempt }
   }

    withName: 'Merge_fusion_annotation|MergeHLA|Fastqc|Arriba|RNAlibrary_customQC|RNAseQC|RNAseq_HaplotypeCaller|SnpEff|' {
       cpus = '16'
       memory = { 40.GB * task.attempt }
       queue = 'norm'
       time = { 4.hour * task.attempt }
   }

    withName: 'Fastqc|Split_vcf|Multiqc.*|VDJtools|Merge_new_HLA|Mergefusion|Mixcr|Strandedness|Sequenza_annot|Mutect_order|Vcf2txt|CNVkit_png|CNVkitAnnotation|CircosPlot.*|Bam2tdf|MakeHotSpotDB.*|FailedExons_Genes|Lib1_RNAqc_TrancriptCoverage|Merge_Pvacseq_vcf' {
       cpus = '4'
       memory = { 10.GB * task.attempt }
       queue = 'quick,norm'
       time = { 4.hour * task.attempt }
   }

    withName: 'CoveragePlot|Actionable.*|DBinput.*|Flagstat|Hotspot.*|Bamutil|FormatInput.*|Custom_annotation|Annovar|Combine_annotation|Expressed|MutationalSignature|MutationBurden|combineTMB|Cosmic3Signature' {
       cpus = '4'
       memory = '10 GB'
       queue = 'norm'
       time = { 2.hour * task.attempt }
   }

    withName: 'Cutadapt.*|Picard.*|Seq2HLA.*|HLAminer.*|MERGE_FASTQS' {
       cpus = '16'
       memory = { 40.GB * task.attempt }
       queue = 'norm'
       time = { 4.hour * task.attempt }
   }
   withName: 'Hotspot_Coverage' {
       cpus = '4'
       memory = { 200.GB * task.attempt }
       queue = 'norm'
       time = { 8.hour * task.attempt }
   }
}
