params {
    Pipeline_version = "5.6.0"
    genome_version = "19"
    genome_version_tcellextrect = "hg19"
    genome_version_fusion_annotation = "v37lift37"
//    resultsdir = outdir
//    logdir = "$LOG"
    publishDirMode = "link"
    star_genome_index = "/data/khanlab/projects/ngs_pipeline_testing/index-STAR_2.7.9a"
    bwa_genomeindex = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/Index/bwa_0.7.17"
    gtf = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/gencode.v37lift37.annotation_ERCC92.gtf"
    gtf_sorted = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/gencode.v37lift37.annotation_ERCC92.sorted.gtf.gz"
    gtf_sorted_index = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/gencode.v37lift37.annotation_ERCC92.sorted.gtf.gz.tbi"
    transcript_gtf = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/gencode.v37lift37.transcript_ERCC92.gtf"
    ref_flat = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/ref_flat.txt.gz"
    rRNA_interval = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/rRNA_body.txt"
    rsem_index = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/Index/rsem_1.3.2"
    fastq_screen_config = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/fastq_screen.conf"
    fastq_screen_db = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/fastq_screen_db/"
    kraken_bacteria = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/20170202_bacteria_kraken"
    strandedness = "none"
    genome = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa"
    genome_fai = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa.fai"
    genome_dict = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/GRCh37.primary_assembly.genome_ERCC92_ksorted.dict"
    chrom_sizes = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/chrom.sizes"
    sorted_chr_order = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/sorted_chromosome_order.txt"
    genomelength = "/data/khanlab/projects/ngs_pipeline_testing/index-STAR_2.7.9a/chrNameLength.txt"
    phase1_1000g = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/1000G_phase1.indels.hg19.vcf"
    dbsnp = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/dbsnp_138.b37.chr_added_sorted.vcf"
    Mills_and_1000g = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/Mills_and_1000G_gold_standard.indels.hg19.vcf"
//    Sites1000g4genotyping = "/data/Clinomics/Ref/khanlab/annotation/1000gSites4genotyping.v2.bed"
    Sites1000g4genotyping = "/data/khanlab/projects/Nextflow_dev/AWS_POC_Nextflow/1000gSites4genotyping.v2.bed"
    fusioncatcher_db = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/fusioncatcher/human_v102"
    starfusion_db = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/starfusion/VG_star_fusion/GRCh37_gencode_v19_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir"
    mixcr_license = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/mixcr/mi.license"
    access_hotspot = "/data/Clinomics/Ref/khanlab/hotspot/hg19_Hotspot.08.08.16_merged.bed"
    hg19_hotspot_pos = "/data/Clinomics/Ref/khanlab/annotation/hg19_hotspot_pos.txt"
    Biowulf_snpEff_config  = "/data/Clinomics/Tools/ngs_pipeline_4.2/Tools_config/Biowulf_snpEff.config"
    dbNSFP2_4 = "/vf/users/khanlab/projects/Nextflow_dev/dev/dbNSFP/dbNSFP2.4.txt.gz"
	  dbNSFP2_4_tbi = "/vf/users/khanlab/projects/Nextflow_dev/dev/dbNSFP/dbNSFP2.4.txt.gz.tbi"
    strelka_config = "/data/Clinomics/Tools/ngs_pipeline_4.3/Tools_config/Biowulf_Strelka.config.ini"
    recode_vcf = "/data/Clinomics/Ref/khanlab/verifyBamID/Clinical_Research_Exome.recode.vcf"
    cosmic_v67_hg19_vcf = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/cosmic_v67.hg19.vcf"
    vep_cache = "/data/khanlab/projects/ngs_pipeline_testing/VEP_102_cache"
    combined_gene_list = "/data/Clinomics/Ref/khanlab/annotation/geneLists/combinedList_05312018"
    somatic_actionable_sites = "/data/Clinomics/Ref/khanlab/annotation/hg19_SomaticActionableSites.txt"
    gc50base = "/data/Clinomics/Ref/khanlab/annotation/hg19.gc50Base.txt.gz"
    sequenza_Rscript = "/data/Clinomics/Tools/ngs_pipeline_4.3/scripts/run_sequenza_pipeline.R"
    //Annotation
    pfamdb = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/PfamDB"
    annovar_data = "/data/Clinomics/Ref/khanlab/annotation/"
    cosmic = "/data/Clinomics/Ref/khanlab/annotation/hg19_cosmic78.txt"
    clinseq = "/data/Clinomics/Ref/khanlab/annotation/hg19_clinseq_951.txt"
    pcg = "/data/Clinomics/Ref/khanlab/annotation/hg19_PCG_042616.txt"
    clinvar = "/data/Clinomics/Ref/khanlab/annotation/hg19_clinvar_20160831.txt"
    hgmd = "/data/Clinomics/Ref/khanlab/annotation/hg19_hgmd.2018.4.txt"
    matchTrial = "/data/Clinomics/Ref/khanlab/annotation/hg19_MATCHTrial_2015_11.txt"
    mcg = "/data/Clinomics/Ref/khanlab/annotation/hg19_MCG.06.24.15.txt"
    DoCM = "/data/Clinomics/Ref/khanlab/annotation/hg19_DoCM.txt"
    CanDL = "/data/Clinomics/Ref/khanlab/annotation/hg19_candl_10262015.txt"
    targetted_cancer_care = "/data/Clinomics/Ref/khanlab/annotation/hg19_targated_cancer_care_10262015.txt"
    civic = "/data/Clinomics/Ref/khanlab/annotation/hg19_civic_10262015.txt"
    ACMG = "/data/Clinomics/Ref/khanlab/annotation/hg19_ACMG_v2.txt"
    hg19_BLsites = "/data/Clinomics/Ref/khanlab/annotation/hg19_blacklistedSites.txt"
    hg19_WLsites = "/data/Clinomics/Ref/khanlab/annotation/hg19_whitelistedSites.txt"
    conpair_refbed = "/data/Clinomics/Ref/khanlab/verifyBamID/GRCh37.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.bed"
    conpair_marker = "/data/Clinomics/Ref/khanlab/verifyBamID/GRCh37.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.txt"
    //Target bed
    access_target = "/data/Clinomics/Ref/khanlab/design/IlluminaAccessKitRNASeq.target.hg19.merged.bed"
    polya_target = "/data/Clinomics/Ref/khanlab/design/RefSeq.target.hg19.merged.bed"
    polya_stranded_target = "/data/Clinomics/Ref/khanlab/design/RefSeq.target.hg19.merged.bed"
    ribozero_target = "/data/Clinomics/Ref/khanlab/design/RefSeq.target.hg19.merged.bed"
    smartrna_target = "/data/Clinomics/Ref/khanlab/design/RefSeq.target.hg19.merged.bed"
    clin_ex_v1 = "/data/Clinomics/Ref/khanlab/design/Agilent_SureSelect_Clinical_Research_Exome.target.hg19.merged.bed"
    seqcapez.hu.ex.v3 = "/data/Clinomics/Ref/khanlab/design/SeqCap_EZ_Exome_v3_capture_trimed.target.hg19.merged.bed"
    agilent.v7_target = "/data/Clinomics/Ref/khanlab/design/Agilent_SureSelect_V7_S31285117.target.hg19.bed"
    idt_v2_plus = "/data/khanlab/projects/CCDI-MCI_data/Processing_MCI_samples_with_hg19/hg38tohg19_bed/IDT_V2_PLUScnv.padded_100.sorted.merged.coveredregions.hg19_filtered_khanlab.bed"
    xgen_hyb_panelv2_target = "/data/khanlab2/kids_first_RMS/cavatica/xgen-exome-hyb-panel-v2-targets-hg19_khanlab.bed"
    seqcapez.rms.v1_target = "/data/Clinomics/Ref/khanlab/design/Nimblegen_10_EZ_HX3_capture.target.hg19.merged.bed"
    comp_ex_v1_target = "/data/Clinomics/Ref/khanlab/design/NextraExome_v1.targetbp.hg19.merged.bed"
    seqcapez.hu.ex.v3_target = "/data/Clinomics/Ref/khanlab/design/SeqCap_EZ_Exome_v3_capture_trimed.target.hg19.merged.bed"
    seqcapez.hu.ex.utr.v1_target = "/data/Clinomics/Ref/khanlab/design/SeqCap_EZ_Exome_UTR_v1_capture_trimed.target.hg19.merged.bed"

    // design bed
    clin_ex_v1_design = "/data/Clinomics/Ref/khanlab/design/Agilent_SureSelect_Clinical_Research_Exome.design.hg19.merged.bed"
    agilent.v7_design = "/data/Clinomics/Ref/khanlab/design/Agilent_SureSelect_V7_S31285117.design.hg19.bed"
    idt_v2_plus_design = "/data/khanlab/projects/CCDI-MCI_data/Processing_MCI_samples_with_hg19/hg38tohg19_bed/IDT_V2_PLUScnv.padded_100.sorted.merged.coveredregions.hg19_filtered_khanlab_design.bed"
    xgen_hyb_panelv2_design = "/data/khanlab2/kids_first_RMS/cavatica/xgen-exome-hyb-panel-v2-targets-design_hg19_khanlab.bed"
    seqcapez.rms.v1_design = "/data/Clinomics/Ref/khanlab/design/Nimblegen_10_EZ_HX3_capture.design.hg19.merged.bed"
    comp_ex_v1_design = "/data/Clinomics/Ref/khanlab/design/NextraExome_v1.design.hg19.merged.bed"
    seqcapez.hu.ex.v3_design = "/data/Clinomics/Ref/khanlab/design/SeqCap_EZ_Exome_v3_capture_trimed.design.hg19.merged.bed"
    seqcapez.hu.ex.utr.v1_design = "/data/Clinomics/Ref/khanlab/design/SeqCap_EZ_Exome_UTR_v1_capture_trimed.design.hg19.merged.bed"
    //cnvkit_Ref
	cnvkit_clin_ex_v1 = "/data/Clinomics/Ref/khanlab/cnvkit/clin.ex.v1.hg19.cnn"
	cnvkit_clin_snv_v1 = "/data/Clinomics/Ref/khanlab/cnvkit/clin.snv.v1.hg19.cnn"
	cnvkit_clin_cnv_v2 = "/data/Clinomics/Ref/khanlab/cnvkit/clin.cnv.v2.hg19.cnn"
	cnvkit_clin_snv_v2 = "/data/Clinomics/Ref/khanlab/cnvkit/clin.snv.v2.hg19.cnn"
	cnvkit_seqcapez_rms_v1 = "/data/Clinomics/Ref/khanlab/cnvkit/seqcapez.rms.v1.hg19.cnn"
	cnvkit_seqcapez_hu_ex_v3 = "/data/Clinomics/Ref/khanlab/cnvkit/seqcapez.hu.ex.v3.hg19.cnn"
  cnvkit_agilent.v7 = "/data/khanlab/projects/Build_cnv_reference/agilent_v7/cnvkit/cnvkit_agilent.v7_hg19.cnn"
  cnv_ref_access = "/data/Clinomics/Ref/khanlab/access-5k-mappable.hg19.bed"
  reconcnv_data_dir = "/data/khanlab/projects/reconcnv/data"
  reconcnv_config_file = "/data/khanlab/projects/reconcnv/data/config.json"
    //mutationBurden
  clin_ex_v1_MB = "/data/Clinomics/Ref/khanlab/design/Agilent_SureSelect_Clinical_Research_Exome.targetbp.hg19.actualmerged.bed"
  agilent.v7_MB = "/data/Clinomics/Ref/khanlab/design/Agilent_SureSelect_V7_S31285117.targetbp.hg19.actualmerged.bed"
  seqcapez.hu.ex.v3_MB = "/data/Clinomics/Ref/khanlab/design/SeqCap_EZ_Exome_v3_capture_trimed.targetbp.hg19.actualmerged.bed"
  comp_ex_v1_MB = "/data/Clinomics/Ref/khanlab/design/NextraExome_v1.targetbp.hg19.actualmerged.bed"
  seqcapez.hu.ex.utr.v1_MB = "/data/Clinomics/Ref/khanlab/design/SeqCap_EZ_Exome_UTR_v1_capture_trimed.targetbp.hg19.actualmerged.bed"
  seqcapez.rms.v1_MB = "/data/Clinomics/Ref/khanlab/design/Nimblegen_10_EZ_HX3_capture.targetbp.hg19.actualmerged.bed"
  idt_v2_plus_MB = "/data/Clinomics/Ref/khanlab/design/IDT_V2_PLUScnv.padded_100.sorted.merged.coveredregions.hg19_filtered_khanlab.actualmerged.bed"

   //mantis
  clin_ex_v1_loci = "/data/khanlab/projects/Mantis_testing/Agilent_SureSelect_Clinical_Research_Exome.target.hg19.merged.loci.bed"
  agilent.v7_loci = "/data/khanlab/projects/Mantis_testing/Agilent_SureSelect_V7_S31285117.target.hg19.loci.bed"
   //cosmicsignatures
  cosmic_indel_rda = "/data/khanlab/projects/cosmic_signatures/signatures.indels.cosmic.v3.may2019.rda"
  cosmic_genome_rda = "/data/khanlab/projects/cosmic_signatures/signatures.genome.cosmic.v3.may2019.rda"
  cosmic_dbs_rda = "/data/khanlab/projects/cosmic_signatures/signatures.dbs.cosmic.v3.may2019.rda"
    // Arriba params come from the docker
    // blacklist = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/arriba_v2.0.0/database/blacklist_hg19_hs37d5_GRCh37_v2.0.0.tsv.gz"
    // proteinDomains = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/arriba_v2.0.0/database/protein_domains_hg19_hs37d5_GRCh37_v2.0.0.gff3"
    // cytobands = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/arriba_v2.0.0/database/cytobands_hg19_hs37d5_GRCh37_v2.0.0.tsv"
    highconfidence_somatic_threshold {
      threshold_1 {
        Normal = "20"
        Tumor = "20"
        VAF   = "0.1"
      }
      threshold_2 {
        Normal = "20"
        Tumor = "50"
        VAF   = "0.05"
      }
      threshold_3 {
        Normal = "20"
        Tumor = "50"
        VAF   = "0.1"
      }
      threshold_4 {
        Normal = "5"
        Tumor = "5"
        VAF   = "0.1"
      }
      threshold_5 {
        Normal = "20"
        Tumor = "30"
        VAF   = "0.1"
      }
    }

    failed_exon {
      clin_ex_v1 {
        Tumor = "20"
        Normal = "10"
      }
      wholegenome {
        Tumor = "5"
        Normal = "5"
      }
      seqcapez_rms_v1 {
        Tumor = "100"
        Normal = "100"
      }
      comp_ex_v1 {
        Tumor = "30"
        Normal = "10"
      }
      clin_snv {
        Tumor = "50"
        Normal = "20"
      }
      xgen_hyb_panelv2 {
        Tumor = "20"
        Normal = "10"
      }
      seqcapez_hu_ex_v3 {
        Tumor = "20"
        Normal = "20"
      }
      agilent_v7 {
        Tumor = "20"
        Normal = "20"
      }
    }

}
