process {
    withName: 'Cutadapt.*' {
        container = 'nciccbr/ncigb_cutadapt_v1.18:latest'
    }
    withName: 'RECONCNV' {
        container = 'vinegang/reconcnv:1.0.0'
    }
    withName: 'Kraken' {
        container = 'staphb/kraken:1.1.1-no-db'
    }
    withName: 'Krona' {
        container = 'pbelmann/krona:latest'
    }
    withName: 'Fastqc|MERGE_FASTQS|BAM_TO_FASTQ' {
        container = 'nciccbr/ccrgb_qctools:latest'
    }
    withName: 'Star.*|Rsem.*|Arriba|Starfusion' {
        container = 'nciccbr/ccrgb_starplus:latest'
    }
    withName: 'Fusioncatcher' {
        container = 'nciccbr/ccrgb_fusioncatcher:v2.0'
    }
    withName: 'Multiqc.*' {
        container = 'nciccbr/ccbr_multiqc_1.9:v0.0.1'
    }
    withName: 'Picard.*|HSMetrics|Hotspot_Coverage|Hotspot_Boxplot|Flagstat|Bamutils|Merge_new_HLA|MergeHLA|Read_depth|FailedExons_Genes|Combine_variants|Merge_Pvacseq_vcf' {
        container = 'nciccbr/ccrgb_qctools:latest'
    }
    withName: 'GATK.*|RNAseq_HaplotypeCaller|Exome_HaplotypeCaller' {
        container = 'nciccbr/ccrgb_gatk_3.8-1:v1.0'
    }
    withName: 'Genotyping|HotspotPileup|Mutect_order|PREPARE_SAMPLESHEET|MutationalSignature|CoveragePlot|Exome_QC|CircosPlot|CircosPlot_lib|Mergefusion|Allstepscomplete|RNAlibrary_customQC|RNAqc_TrancriptCoverage|CoveragePlot|Coverage|Lib2_RNAqc_TrancriptCoverage|TargetIntervals|CNVkit_png|Strelka_vcf_processing' {
        container = 'nciccbr/ccrgb_qctools:latest'
    }
    withName: 'AddAnnotation.*|Split_vcf|UnionSomaticCalls|Actionable.*|DBinput.*|Sequenza_annot|MutationBurden|Expressed' {
        container = 'nciccbr/ccrgb_qctools:latest'
    }
    withName: 'CNVkitAnnotation' {
        container = 'nciccbr/bedtoolsv2.27.1-pybedtools:v1-feat'
    }
    withName: 'Mixcr' {
        container = 'nciccbr/ccrgb_mixcr:v1.1'
    }
    withName: 'VDJtools' {
        container = 'nciccbr/ccrgb_vdjtools:latest'
    }
    withName: 'Bamutil' {
        container = 'nciccbr/ccrgb_bamutil:latest'
    }
    withName: 'SnpEff' {
        container = 'nciccbr/ccrgb_snpeff:1.0'
    }
    withName: 'Bam2tdf' {
        container = 'quay.io/biocontainers/igvtools:2.3.93--0'
    }
    withName: 'Vcf2txt|FormatInput.*|Annovar|Custom_annotation|Combine_annotation' {
        container = 'nciccbr/ccrgb_annovar:v1.0'
    }
    withName: 'RNAseQC' {
        container = 'nciccbr/ccrgb_rnaseqc_v1.1.8:latest'
    }
    withName: 'Strandedness' {
        container = 'nciccbr/ccbr_ngsderive:v1.0'
    }
    withName: 'BWA' {
        container = 'nciccbr/ccbr_ubuntu_base_20.04:v2.0'
    }
    withName: 'VerifyBamID' {
        container = 'ottov/verifybamid-aws:latest'
    }
    withName: 'Fastq_screen' {
        container = 'nciccbr/ccbr_fastq_screen_0.14.1:latest'
    }
    withName: 'CNVkitP.*' {
        container = 'etal/cnvkit:0.9.11'
    }
    withName: 'Conpair.*' {
        container = 'nciccbr/ccrgb_conpair:latest'
    }
    withName: 'Mutect' {
        container = 'dinglab2/mutect-tool:20190313'
    }
    withName: 'Manta'  {
        container = 'szarate/manta:v1.6.0'
    }
    withName: 'Strelka' {
        container = 'davelabhub/strelka:2.9.10--0'
    }
    withName: 'VEP' {
        container = 'dnousome/ccbr_vcf2maf:v102.0.0'
    }
    withName: 'Fusion_Annotation|Merge_fusion_annotation' {
        container = 'hsienchao/fusion_tools:v1'
    }
    withName: 'Sequenza_utils' {
        container = 'nkrumm/sequenza-nf:latest'
    }
    withName: 'Sequenza' {
        container = 'nciccbr/ccrgb_qctools:v3.2'
    }
    withName: 'Cosmic3Signature' {
        container = 'nciccbr/ccrgb_qctools:v4.0'
    }
    withName: 'TcellExtrect.*' {
        container = 'hsienchao/tcell_extrect:v1'
    }
    withName: 'Pvacseq' {
        container = 'vinegang/pvactools_1.3.5_ps:1.0'
    }
    // Requires `pyyaml` which does not have a dedicated container but is in the MultiQC container
    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        container = 'quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0'
    }
    withName: 'Optitype' {
        container = 'fred2/optitype:release-v1.3.1'
    }
    withName: 'HLA_HD' {
        container = 'vinegang/ccrgb_hlahd_1.7.0:v1.0'
    }
    withName: 'Mantis_MSI' {
        container = 'vinegang/mantis:v1.0.5'
    }
}
